body {
    background-color: orange;
    background-image: -webkit-linear-gradient(-225deg, #f8e8b4 #f5d468);
    background-image: linear-gradient(-80deg, #f8e8b4 5%, #f5d468);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
  }
  
h1 {
  text-align: center;
  color: black;
}
.blood,
.bloodone {

    font-family: nosifer;
    color: #FF0000;
    font-size:2.5em;
    transition: all .25s ease;
      -webkit-text-stroke: 0.1px rgba(246, 186, 74, 1);
    animation: drip 2.5s infinite alternate;
        
  }
  
  @keyframes drip {
      to {
          text-shadow:
         4px 4px 1px #300000,
         4px 6px 1px #400000,
         4px 8px 1px #500000,
         4px 10px 1px #600000,
         4px 12px 1px #700000,
         4px 14px 1px #800000,
         4px 16px 1px #900000,
         4px 18px 1px #A00000,
         4px 20px 1px #B00000,
         4px 22px 1px #C00000,
         4px 24px 1px #D00000,
         4px 26px 1px #E00000,
         4px 28px 1px #F00000,
         4px 30px 1px #FA0000,
         4px 32px 1px #FB0000,
         4px 34px 1px #FC0000,
         4px 36px 1px #FD0000,
         4px 38px 1px #FE0000,
         4px 40px 2px #FF0000;

}}

.flexbox-container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-content: space-around;
text-align: center;
color:#FF0000;

}

.flexbox-item { 
height: 250px;
width: 380px;
border: double rgb(236, 134, 17) 10px;

}

.flexone {
flex-shrink: 0;
}

.flextwo {
flex-grow: 1;
}

.flexthree {
flex-shrink: 0;    
}

.containertwo {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;

}

.flexfour {
flex-grow: 1;
flex-shrink: 1;    
}

.flexfive {
flex-grow: 1;
flex-shrink: 1; 

}
.flexsix {
    flex-grow: 1;
    flex-shrink: 1;
} 
img {
min-width: 100%;
min-height: 100%;
height: 250px;
width: 380px;
}
.containerthree {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-content: space-around;
}
.flexseven {
flex-grow: 1;
flex-shrink: 1;    
}
    
.flexeight {
flex-grow: 1;
flex-shrink: 1; 
}

.flexnine {
flex-grow: 1;
flex-shrink: 1; 
}
